@media (max-width: 600px) {
  #contentBox {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  #menu{
    width: 90%;
    position: fixed;
  }
	
	button.menu {
	    background-color: transparent;
	    border-style: none;
	    height: 50px;
	    width: 34px;
	}
	button img {
	    height: 24px;
	    width: 24px;
	}
	
	button.menu:ACTIVE{	
		background-color: rgba(255, 255, 255, 0.2)
	}
	
	
	.menuHide{
		visibility: hidden;
	}
	.menuShow{
		visibility: visible;
	}

}
