body {
    direction: ltr;
    font-family: 'Roboto','Droid Sans',arial,sans-serif;
    font-size: 15px;
    margin: 0;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

ul{
	list-style-type: none;
	padding-left:0;
}

li{
	padding-left:0;
}
button{
	border: none;
    outline:none;
}
button i {
    position: absolute;
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
	fill: #fa3a66;
}
